homeassistant==2026.8.3
pytest-homeassistant-custom-component==0.13.357; platform_system != "Windows"
pytest-asyncio==1.4.0
aresponses==3.0.0
pytest-cov==7.1.0
PyYAML==6.0.3
types-PyYAML==6.0.12.20250915
ruff==0.16.5
mypy==2.3.1
